<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="bookBinding" />
                <binding name="getRavenResponseBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://meereen.ddns.net/IoT/Meereen.php" binding="basicHttpBinding"
                bindingConfiguration="bookBinding" contract="Meereen.bookPortType"
                name="bookPort" />
            <endpoint address="http://meereen.ddns.net/IoT/Meereen.php" binding="basicHttpBinding"
                bindingConfiguration="getRavenResponseBinding" contract="Meereen.getRavenResponsePortType"
                name="getRavenResponsePort" />
        </client>
    </system.serviceModel>
</configuration>