<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="bookBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="getRavenResponseBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="bookBinding1" />
                <binding name="getRavenResponseBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://meereen.ddns.net/IoT/Meereen.php"
                binding="basicHttpBinding" bindingConfiguration="bookBinding"
                contract="Meereen.bookPortType" name="bookPort" />
            <endpoint address="https://meereen.ddns.net/IoT/Meereen.php"
                binding="basicHttpBinding" bindingConfiguration="getRavenResponseBinding"
                contract="Meereen.getRavenResponsePortType" name="getRavenResponsePort" />
        </client>
    </system.serviceModel>
</configuration>