<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="http://gartendigital.ddns.net:8080/IoT/Mereen.php"
                binding="basicHttpBinding" bindingConfiguration="bookBinding"
                contract="Mereen.bookPortType" name="bookPort" />
            <endpoint address="http://gartendigital.ddns.net:8080/IoT/Mereen.php"
                binding="basicHttpBinding" bindingConfiguration="getRavenResponseBinding"
                contract="Mereen.getRavenResponsePortType" name="getRavenResponsePort" />
        </client>
        <bindings>
            <basicHttpBinding>
                <binding name="bookBinding" />
                <binding name="getRavenResponseBinding" />
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>